services:
  - type: web
    name: karaoke-alex
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT

        value: 8000
